html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/geometry2.png');
    font-family: 'Coda', cursive;
}

/* Mobile First */
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2 {
    padding-top: 20px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    align-items: center;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 3em;
    min-height: 300px;
    padding: 16px;
    width: 300px;
}

.card {
    align-items: center;
    background: #2e3d49;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 55px;
    justify-content: center;
    width: 55px;
}

.open {
    background: #02b3e4;
    cursor: default;
    transform: rotateY(0);
}

.show {
    font-size: 28px;
}

.match {
    background: #02ccba;
    cursor: default;
    font-size: 28px;
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    margin-bottom: 10px;
    text-align: center;
    width: 345px;
}

.stars,
.final-stars {
    color: #aa7ecd;
    display: block;
    margin: 0 10px 0 0;
    padding: 0;
}

.stars {
    font-size: 2em;
}

.final-stars {
    font-size: 1em;
}

.stars li,
.final-stars li {
    display: inline-block;
    list-style: none;
}

.restart {
    cursor: pointer;
}

.moves {
    margin-right: 10px;
}

/*
 * Styles for the Modal
 */

.modal {
    background: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background: #f7f3fa;
    border: 1px solid #aa7ecd;
    height: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.play-again {
    background: #aa7ecd;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.55);
    color: #fff;
    font-variant: small-caps;
    font-size: 20px;
    height: 60px;
    width: 150px;
}

/* Begin Landscape Views */
@media screen and (max-height: 530px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    header {
        width: 100%;
    }

    h1 {
        font-size: 1.6em;
        margin-top: 20px;
        padding-left: 5%;
        text-align: left;
    }

    .modal {
        padding-top: 0;
    }

    .modal-content {
        height: 90%;
    }

    .score-panel {
        width: 40%;
    }

    .deck {
        margin: -60px 20px 0 0;
        max-width: 300px;
        padding: 16px;
        width: 50%;
    }
}

@media screen and (min-height: 330px) and (max-height: 530px) {
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    .score-panel {
        text-align: center;
        margin-bottom: 150px;
    }

    .deck {
        margin: 0;
    }
}
/* End Landscape Views */

/* Tablets & Medium screens */
@media screen and (min-width: 500px) and (min-height: 620px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        padding-top: 40px;
    }

    p {
        padding-bottom: 20px;
    }

    .score-panel {
        font-size: 1.3em;
    }

    .show,
    .match {
        font-size: 2em;
    }

    .stars,
    .final-stars {
        display: block;
        font-size: 2em;
    }

    .restart {
        float: right;
    }

    .deck {
        min-height: 400px;
        padding: 32px;
        width: 400px;
    }

    .card {
        height: 75px;
        width: 75px;
    }
}

/* Desktop & Large Screens */
@media screen and (min-width: 760px) and (min-height: 770px) {
    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.3em;
        padding-bottom: 100px;
    }

    .final-stars {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .deck {
        min-height: 660px;
        width: 660px;
    }

    .card {
        height: 125px;
        width: 125px;
    }
}
