/**
 * Text styles
 */

h1 {
	font-family: 'Merienda', cursive;
	font-size: 1.2em;
	margin: auto;
	padding-left: 10px;
}

h2 {
	font-family: 'Merienda', cursive;
	font-size: 1.2em;
	padding-left: 10px;
}

h3 {
	font-family: 'Comfortaa', cursive;
	font-size: 0.8em;
}

p {
	font-family: 'Comfortaa', cursive;
	font-size: 0.9em;
}

/**
 * Elements styles
 */
header,
footer {
	background: #263238;
	color: #ECEFF1;
	padding: 1% 0;
	text-align: center;
	width: 100%;
}

header {
	font-size: 1.4em;
}

footer {
	bottom: 0;
	position: relative;
	height: 50px;
	z-index: 2;
}

main {
	display: flex;
	flex-direction: row;
	height: 100vh;
  	text-align: center;
  	width: 100%;
}

section {
	width: 80%;
}

nav {
	background: #37474F;
	border-right: solid 1px #607D8B;
	color: #ECEFF1;
	font-family: 'Comfortaa', cursive;
	font-size: 0.9em;
	height: 100%;
	min-width: 220px;
	overflow-y: auto;
	padding-right: 10px;
	position: relative;
	text-align: left;
	width: 20%;
	z-index: 1;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

li {
	padding: 4px;
}

.filter-box {
	margin-left: 10px;
}

/**
 * Move a11y label off-screen
 */
label {
  display: inline-block;
  width: 0;
  text-indent: -1000px;
}

/**
 * Error handling styles
 */
.map-error {
    margin-top: 100px;
    position: relative;
    text-align: center;
    width: 100%;
}

.locations-error {
	margin-top: 100px;
	position: relative;
	text-align: left;
	width: 100%;
}

.locations-error p {
	padding-left: 10px;
}

/**
 * Reduce the footer and title width to leave more space for the map,
 * when the screen is not tall enough (i.e., in landscape mode).
 */
@media screen and (max-height: 550px) {
	footer {
		height: 20px;
	}

	h1 {
		font-size: 1em;
		margin: 0;
	}

	h3 {
		margin: 0;
	}
}


